body, html{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #D3CCE3;
    background: -webkit-linear-gradient(to left, #E9E4F0, #D3CCE3);
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); 
    overflow: hidden;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
    transform-style: preserve-3d;
}

.secao{
    margin: 50px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    transform-style: inherit;
}

.secao::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateZ(-1px) scale(1.5);
}
h1{
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: initial;
}
h2{
    margin-left: 5em;
    color: grey;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: initial;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.conteudo{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(105, 125, 143, 0.6);
    color: #000000;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #000000;
    border-radius: 2em;
}

.conteudo2{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(105, 125, 143, 0.6);
    color: #000000;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #000000;
    border-radius: 2em;
    
}
.conteudo3{
    position: absolute;
    top: 25%;
    width: 80%;
    padding: 20px 15px;
    background-color: rgba(105, 125, 143, 0.6);
    color: #000000;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    font-size: 22px;
    text-align: justify;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 3px #000000;
    border-radius: 2em;
}


.fundo1::before{
    background-image: url(img/cloud.jpg);

}

.fundo2::before{
    background-image: url(img/texture-g811bd503b_1920.jpg);
}
.fundo3::before{
    background-image: url(img/teste.png);
}

